<nav>
    <!-- BARRA NAVEGACION -->
    <!--  <button ng-click="loadhtml('/public/html/personal-main.html')">Personal</button>
    <button ng-click="loadhtml('/public/html/educacion-main.html')">Educacion</button>
    <button ng-click="loadhtml('/public/html/experiencia-main.html')">Experiencia</button>
    <button ng-click="loadhtml('/public/html/idiomas-main.html')">Idiomas</button>
    <button ng-click="loadhtml('/public/html/herramientas-main.html')">Herramientas</button>
    <button ng-click="loadhtml('/public/html/objetivos-main.html')">Objetivos</button>
    <button ng-click="loadhtml('/public/html/projectos-main.html')">Projectos</button> -->
        
    <a href="#!personal">Personal</a>
    <a href="#!educacion">Educacion</a>
    <a href="#!experiencia">Experiencia</a>
    <a href="#!idiomas">Idiomas</a>
    <a href="#!herramientas">Herramientas</a>
    <a href="#!objetivos">Objetivos</a>
    <a href="#!projectos">Projectos</a>
</nav>