<nav>
    <!-- BARRA NAVEGACION -->
    <button ng-click="loadhtml('/public/html/personal-main.html')">Personal</button>
    <button ng-click="loadhtml('/public/html/educacion-main.html')">Educacion</button>
    <button ng-click="loadhtml('/public/html/experiencia-main.html')">Experiencia</button>
    <button ng-click="loadhtml('/public/html/idiomas-main.html')">Idiomas</button>
    <button ng-click="loadhtml('/public/html/herramientas-main.html')">Herramientas</button>
    <button ng-click="loadhtml('/public/html/objetivos-main.html')">Objetivos</button>
    <button ng-click="loadhtml('/public/html/projectos-main.html')">Projectos</button>
</nav>