<nav>
        <!-- BARRA NAVEGACION -->
        
        <!-- <a href="/public/html/personal.html">Personal</a>                
        <a href="/public/html/educacion.html">Educacion</a>
        <a href="/public/html/experiencia.html">Experiencia</a>
        <a href="/public/html/idiomas.html">Idiomas</a>
        <a href="/public/html/herramientas.html">Herramientas</a>
        <a href="/public/html/objetivos.html">Objetivos</a>
        <a href="/public/html/projectos.html">Projectos</a> -->

        <button ng-click="loadhtml('/public/html/personal-main.html')">Personal</button>
        <button ng-click="loadhtml('/public/html/educacion-main.html')">Educacion</button>
        <button ng-click="loadhtml('/public/html/experiencia-main.html')">Experiencia</button>
        <button ng-click="loadhtml('/public/html/idiomas-main.html')">Idiomas</button>
        <button ng-click="loadhtml('/public/html/herramientas-main.html')">Herramientas</button>
        <button ng-click="loadhtml('/public/html/objetivos-main.html')">Objetivos</button>
        <button ng-click="loadhtml('/public/html/projectos-main.html')">Projectos</button>
    </nav>
