main .box2 img{

    border-radius: 100%;
    height: 250px;
  /*   border: solid 4px grey; */
}

@media (min-width: 240px) and (max-width: 768px) {
    main > .carusel{
        display: none;
    }
}