
   main > .carusel{
    background-image: url("/public/img/info-personal-banner-ancho-comprimido.jpg"); 
    background-size: cover;    

}

.box2 img{
    width: 220px;
    border-radius:100%;

}

@media (min-width: 240px) and (max-width: 768px) {
    main > .carusel{
        display: none;
    }
}