/* 
*Color fondo azul: #131A22 
*Color verde: #90C53F (144,197,63)
*/
*{
    box-sizing: border-box;
}

body,html{
    margin :0;
    padding:0;
    height: 100%;

}
header,nav,footer{
    background-color: #131A22;
    padding: 1em;     
    color: white;
}


header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 0;
}
header  img{
    width: 3em;
    cursor: pointer;
}

header >form{
    padding: 1em;
    width: 100%;   
}
header > form > *{
    padding: 0.4em;
    border: none;
}

header > form > .cuadro-busqueda{
    width: 50%;
    
}
header > form > .submit{
    cursor: pointer;    
    background-color: #90C53F;
    color: #131A22;
}

nav{
    display: flex;    
    padding-top :0.5em;
    padding-bottom :0.5em;
    justify-content: stretch;
    flex-wrap: wrap;
    
}
nav > a{
    color: white;
    text-decoration: none;    
}

nav > a.link-active{
    background-color: #90C53F;
    color: #131A22;
}

nav > a:hover{
    background-color: #90C53F;
    color: #131A22;
}

nav > a{
    padding: 1em;    
}



 nav > button:hover{
    background-color: #90C53F;
    color: #131A22;
 }

 nav > button{
     padding: 1em;
     background-color: #131A22;
     color: white;
     border: none;
     cursor: pointer;
 }

footer{
 text-align: center;
 padding: 0.5em;
}

#icon-facebook, #icon-google, #icon-linkedin,#icon-twiter, #icon-youtube,#icon-github{
    background-image: url("/public/img/sprite-social-media.png");
        width: 30px;
        height: 30px;        
        background-position-y: 0;
        background-repeat: no-repeat;
        background-size: 350px;
        display: inline-block;
        border: solid 1px grey;
    
        
}
#icon-google{
    background-position-x: -95px ;
}
#icon-linkedin{
    background-position-x: -128px ;
}
#icon-twiter{
    background-position-x: -255px ;
}
#icon-youtube{
    background-position-x: -320px ;
}
#icon-github{
    background-image: url("/public/img/git-logo-grey.png");
     background-size: 16px;
    background-position: center center;
    
}

main > .carusel{
    height: 18em;
    display: flex;
    align-items: center;
    justify-content: center;
/*     background-image: url("/public/img/cv-lupa.jpg");    */ 
    background-size: cover;
    color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
}

    main>h1 {
        text-align: center;
    }

    main {
        width: 95%;
        margin: 0 auto;
        background-color: rgba(200, 200, 200, 0.25);
    }

    main>.container {
        display: flex;
        padding: 1em;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        align-content: center;


    }

    main>.container>.box1 {
        padding: 1em;
        border-right: none;
        font-size: 1.2em;
        line-height: 1.15em;
        max-width: 35em;
    }

    main>.container>.box1>p {

        text-align: justify;
    }

    main>.container>.box1 li {

        line-height: 1.5em;
    }

    main>.container>.box2 {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;

    }

    main>.container img {
        max-width: 250px;


    }

    /* Responsive pantallas baja resolucion*/

    @media (min-width: 240px) and (max-width: 768px) {
        main>.container {
            flex-direction: column-reverse;

        }

        main {
            width: 100%;
            ;
        }

        main>.container>.box1 {
            width: 100%;    
            padding: 0.5em;        
        }

        nav a {
            padding: 0.5em;
            font-size: 1.1em;
        }
 
    }