
   main > .carusel{
    background-image: url("/public/img/info-personal-banner-ancho-comprimido.jpg"); 
    background-size: cover;    
/*     height: 28.5em; */
}

.box2 img{
    width: 220px;

    border-radius:100%;

}
